{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Title</title>
</head>
<body>

<header class="login_background_color">
    <div class="container login_form">
        {% if not request.user.is_authenticated %}
        <form method="post" action="login_users">
            <div class="input">
                <input type="text" placeholder="Enter username" name="username" id="nam5">
                <input type="password" placeholder="Enter Password" name="password" id="pas5">
                <input type="submit" value="Войти" id="inter5">
                <a href="registration" role="button">Регистрация</a>
            </div>
        {% else %}
        <div class="logout">
            <p class="user_name">{{ request.user.username }}</p>
            <form action="logout">
                <button>Выйти</button>
            </form>
{#            <a class=" " href="logout" role="button">Выйти</a>#}
        </div>
        {% endif %}
        </form>
    </div>
</header>
<br>


{% if request.user.is_authenticated %}
    <form method="post" action="index">
{#        {% csrf_token %}#}
        {{ form.link }}
        <button type="submit" id="short">Сократить</button>
    </form>
    <table>
    {% if links %}
            <tr><th>Полная ссылка</th><th>Короткая ссылка</th>
        {% for l in links %}
            <tr>
                <td style="max-width: 700px; word-wrap: break-word" >{{ l.link }}</td>
                <td>{{ l.shortlink }}</td>
                <td data-label="Amount"><a class="" href="delete/{{ l.id }}"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg></a></td>
            </tr>
        {% endfor %}
    {% else %}
        <p>Список пуст</p>
    {% endif %}
    </table>
{% endif %}
</body>
</html>
