{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
        <link type="text/css" rel="stylesheet" href="{% static "css/registration.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/index.css" %}" />
    <title>Регистрация</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form" method="post" action="registr">{% csrf_token %}
                <input type="text" placeholder="login" name="login" id="log1" required/>
                    {% if username_error %}
                        <p style="margin: 0 0 5px 0;  color: #fff">Такой пользователь есть</p>
                    {% endif %}
                <input type="password" placeholder="password" name="password" id="pas1" required/>
                <input type="email" placeholder="email address" name="email" id="email1" required/>
                    {% if email_error %}
                        <p style="margin: 0 0 5px 0; color: #fff ">Такой email зарегистрирован</p>
                    {% endif %}
                <button>Зарегистрироваться</button>
                <p class="message">Уже зарегистрированы? <a href="login_p">Войти</a></p>
                <a class="message" href="index">На главную</a>
            </form>
        </div>
    </div>
</body>
</html>
